html(lang="en")
    head
        include partials/header
    body.login  
        .contenedor-formulario 
            h1 Inicia sesión en upTask 
            if error 
                p.alerta.error= error 
            form#formulario.caja.caja-login(method='POST' action="/iniciar-sesion")
                .campo 
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="Tu Email" value=email)
                .campo 
                    label(for="password") Password:  
                    input(type="password" name="password" placeholder="Ingrese su password" value=password) 
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar sesión")
                .campo.acciones
                    a(href="/crear-cuenta") Áún no tienes cuenta? Crea una gratis
                    a(href="/reestablecer") ¿Olvidaste tu constraseña?
                   
        